RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


ErrorDocument 403 /templates/error/403.php
ErrorDocument 404 /templates/error/404.php
ErrorDocument 500 /templates/error/500.php