RewriteEngine On 

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^index\.php$
RewriteRule ^(.+)$ index.php/$1 [QSA,L]

RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 403 /templates/error/403.php
ErrorDocument 404 /templates/error/404.php
ErrorDocument 500 /templates/error/500.php

Options -Indexes


# Redirects for all Legal Pages
RedirectPermanent /tos /legal/tos
RedirectPermanent /privacy /legal/privacy-policy
RedirectPermanent /dmca /legal/dmca
RedirectPermanent /refund /legal/refund
RedirectPermanent /facebook-policy /legal/facebook-policy

# Redirects for all Product Pages
RedirectPermanent /soulmate /shop/soulmate
RedirectPermanent /twin-flame /shop/twin-flame
RedirectPermanent /future-spouse /shop/future-spouse