html {
    text-rendering: optimizeLegibility;
    }
    .dropup, .dropend, .dropdown, .dropstart {

        margin-right: 20px;
    }
    #top > nav > div > ul > li:nth-child(2){

        margin-right: 0px;
    }

    .img-landing-banner{
box-shadow:none!important;
    }
   
    .navbar>.container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row !important;
        -ms-flex-wrap: inherit;
        flex-overflow: none;
        flex-wrap: inherit;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
.navbar-light{
background-color:transparent;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color:#fff;
}

.navbar-light .navbar-nav .nav-link{
color:#fff;
}
.dark-wrapper {
background: linear-gradient(180deg,#09042d 58.92%,#3620c2 184.79%);
}

.main {
    background-image: url(/assets/img/footer-cover.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    }
    .dropdown-menu {
        font-size: 1rem;
    }
.under-cover {

        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
    
    }

    .under-cover img {
        width: 100%!important;
    }
.img-landing-banner, .img-showcase-banner {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    overflow: hidden;
    -webkit-transform: translateY(-3rem);
    -ms-transform: translateY(-3rem);
    transform: translateY(-3rem);
    margin-bottom: 1rem!important;
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    position: relative;
    -webkit-box-shadow: var(--falcon-box-shadow-lg);
    box-shadow: var(--falcon-box-shadow-lg);
    display: block;
}

.img-landing-banner:hover, .img-landing-banner:focus, .img-showcase-banner:hover, .img-showcase-banner:focus {
    -webkit-transform: translateY(-5rem);
    -ms-transform: translateY(-5rem);
    transform: translateY(-5rem);
}
.img-landing-banner:after, .img-showcase-banner:after {
content: none!important;
}

.bg-dark {
    background-color: rgb(9, 4, 45)!important;
}

.navbar-top{
    font-size:1rem!important;
}

.navbar-dark{
    color: #fff!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff!important;
}
.text-600 {
    color: #748194!important;
    }
.pricing-badge
{
display:inline;
}

.open-product
{
    padding-top: 18px!important;
    padding-bottom: 18px!important;
}

@media only screen and (max-width: 1200px) {
    .navbar-toggler-humburger-icon
    {
        border-radius: 8px;
        background: linear-gradient(45deg,#d130eb,#4a30eb 90%,#2b216c);
    }
  }

@media only screen and (max-width: 763px) {
    .navbar-toggler-humburger-icon
    {
        width: 10%;
    margin: 0!important;
    }
    .navbar-brand
    {
    margin: 0!important;
    margin-right:15px!important;
    }

    .navbar>.container {
        justify-content: stretch;
    }
    .product-title {
     font-size:140%;
    }
  }

  @media only screen and (max-width: 350px) {
    #top > nav > div > ul
    {
    display:none;
    }

    .pricing-badge
    {
    display:none;
    }
  
  }
  @media only screen and (min-width: 351px) {
    #top > nav > div > ul
    {
    display:flex;
    }
  
  }