#section-1-10819>.ct-section-inner-wrap {
    padding-top: 0;
    padding-bottom: 10px;
    align-items: center;
    align-content: space-around
}

#section-1-10819 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    text-align: center;
    background-color: #020202;
    height: 100%;
    min-height: 100vh;
    box-shadow: 0px 5px 5px 5px #000000
}

#section-623-88067>.ct-section-inner-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: unset;
    align-items: center;
    justify-content: center
}

#section-623-88067 .oxy-video-overlay {
    background-color: rgba(0, 0, 0, 0.2)
}

#section-623-88067 {
    text-align: center;
    video-background-overlay: rgba(0, 0, 0, 0.2);
    background-color: #000000;
    min-height: 100vh;
    height: 100%
}

#loader-section>.ct-section-inner-wrap {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: center
}

#loader-section {
    text-align: center;
    background-color: #000000;
    z-index: 5
}

@media (max-width:767px) {
    #section-1-10819 {
        min-height: 100vh;
        height: auto
    }
}

@media (max-width:767px) {
    #section-623-88067>.ct-section-inner-wrap {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (max-width:479px) {
    #section-1-10819>.ct-section-inner-wrap {
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px
    }
}

#div_block-3-10819 {
    align-items: center;
    text-align: center
}

#div_block-57-10819 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    margin-top: 0px;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0)
}

#step-1 {
    background-color: #20a681;
    margin-top: 14px;
    height: 70px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #d3d3d3;
    border-right-color: #d3d3d3;
    border-bottom-color: #d3d3d3;
    border-left-color: #d3d3d3;
    border-radius: 3%;
    width: 95%;
    max-width: 550px
}

#step-1:hover {
    cursor: pointer
}

#div_block-569-87839 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    margin-top: 22px;
    width: 100%;
    max-width: 600px;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0)
}

#div_block-607-87839 {
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    background-color: #000000;
    margin-bottom: 19px
}

#div_block-570-87839 {
    margin-bottom: 10px;
    width: 100%
}

#div_block-572-87839 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    align-items: flex-start;
    margin-top: 0px
}

#div_block-573-87839 {
    width: 33%;
	padding:0;
    border:1px solid #000000;
    border-radius: 5px;
    position: relative
}

#div_block-574-87839 {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    transition-duration: .5s
}

#div_block-576-87839 {
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #d8d8d8;
    padding-left: 5px;
    padding-right: 5px
}

#div_block-578-87839 {
    height: 255px;
    position: absolute;
    margin-top: 54px;
    flex-direction: unset;
    width: 95%;
    background-color: #ffffff;
    overflow: hidden;
    padding-top: 0px;
    display: none;
    margin-left: auto;
    margin-right: auto
}

#div_block-578-87839:hover {
    overflow-y: scroll
}

#div_block-580-87839 {
    width: 33%;
	padding:0;
    border:1px solid #000000;
    border-radius: 5px;
    position: relative
}

#div_block-581-87839 {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    transition-duration: .5s
}

#div_block-583-87839 {
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #d8d8d8;
    padding-left: 5px;
    padding-right: 5px
}

#div_block-585-87839 {
    height: 255px;
    position: absolute;
    margin-top: 54px;
    flex-direction: unset;
    display: none;
    width: 95%;
    background-color: #ffffff;
    overflow: hidden;
    padding-top: 0px;
    margin-left: 0%;
    margin-right: 0%
}

#div_block-585-87839:hover {
    overflow-y: scroll
}

#div_block-587-87839 {
    width: 33%;
	padding:0;
    border:1px solid #000000;
    border-radius: 5px;
    position: relative
}

#div_block-588-87839 {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    transition-duration: .5s
}

#div_block-590-87839 {
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #d8d8d8;
    padding-left: 5px;
    padding-right: 5px
}

#div_block-592-87839 {
    height: 255px;
    position: absolute;
    margin-top: 54px;
    flex-direction: unset;
    display: none;
    width: 95%;
    background-color: #ffffff;
    overflow: hidden;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto
}

#div_block-592-87839:hover {
    overflow-y: scroll
}

#div_block-594-87839 {
    width: 100%;
    align-items: flex-start;
    text-align: justify;
    margin-top: 0px;
    flex-direction: unset;
    display: none;
    justify-content: space-between
}

#div_block-595-87839 {
    width: 33%;
 padding-top:0px;
 padding-left:0px;
 padding-right:0px;
 padding-bottom:0px;
 border: 1px solid #000000;
 border-radius:5px;
 position: relative;
 outline-color: rgb(84 105 212 / 0.5);
}

#div_block-597-87839 {
 width: 33%;
 padding-top:0px;
 padding-left:0px;
 padding-right:0px;
 padding-bottom:0px;
 border: 1px solid #000000;
 border-radius:5px;
 position: relative;
 outline-color: rgb(84 105 212 / 0.5);
}

#div_block-599-87839 {
 width: 33%;
 padding-top:0px;
 padding-left:0px;
 padding-right:0px;
 padding-bottom:0px;
 border: 1px solid #000000;
 border-radius:5px;
 position: relative;
 outline-color: rgb(84 105 212 / 0.5);
}

#div_block-601-87839 {
    width: 100%;
    margin-bottom: 10px
}

#div_block-603-87839 {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 11px;
    flex-direction: unset;
    display: none
}

#step-2-btn {
    margin-top: 14px;
    height: 70px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #20a681;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #d3d3d3;
    border-right-color: #d3d3d3;
    border-bottom-color: #d3d3d3;
    border-left-color: #d3d3d3;
    border-radius: 3%;
    width: 95%;
    max-width: 550px;
    cursor: pointer
}

#div_block-556-87839 {
    margin-top: 23px;
    width: 100%;
    max-width: 600px;
    padding-bottom: 0px;
    align-items: center;
    text-align: center
}

#div_block-557-87839 {
    width: 33%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
    border-radius: 5px;
    position: relative;
    flex-direction: unset;
    display: none
}

#div_block-612-87839 {
    background-color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 19px
}

#div_block-563-87839 {
    width: 100%;
    margin-bottom: 10px
}

#div_block-565-87839 {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 11px;
    flex-direction: unset;
    display: none
}

#sr-submit {
    margin-top: 14px;
    height: 70px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #20a681;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #d3d3d3;
    border-right-color: #d3d3d3;
    border-bottom-color: #d3d3d3;
    border-left-color: #d3d3d3;
    border-radius: 3%;
    width: 95%;
    max-width: 550px;
    align-self: center;
    cursor: pointer
}

#sr-submit:hover {
    cursor: pointer
}

#div_block-540-42847 {
    align-items: center;
    text-align: center;
    margin-top: 40vh
}

#div_block-624-88067 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    align-items: stretch;
    text-align: justify;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 15px 5px rgba(203, 41, 214, 0.75)
}

#div_block-626-88067 {
    align-items: center;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px
}

#div_block-628-88067 {
    margin-top: 19px;
    align-items: flex-start;
    text-align: left;
    line-height: 1.1;
    width: 100%;
    color: #000000;
    font-weight: 400;
    font-family: 'Roboto'
}

#div_block-631-88067 {
    margin-top: 19px;
    align-items: flex-start;
    text-align: left;
    font-family: 'Roboto';
    line-height: 1.1;
    color: #000000;
    font-weight: 400
}

#div_block-633-88067 {
    align-items: center;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px
}

#div_block-637-88067 {
    margin-top: 19px;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    font-size: 20px;
    line-height: 1.1;
    font-family: 'Roboto';
    font-weight: 400
}

#div_block-639-88067 {
    margin-top: 19px;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    font-size: 20px;
    line-height: 1.1;
    font-family: 'Roboto';
    font-weight: 400
}

#div_block-644-88067 {
    margin-top: 26px;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px
}

#div_block-619-88067 {
    position: static;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 2s;
    flex-direction: column;
    display: flex;
    height: 100vh
}

@media (max-width:991px) {
    #div_block-572-87839 {
        flex-direction: unset;
        display: none
    }
}

@media (max-width:991px) {
    #div_block-594-87839 {
        display: flex
    }
}

@media (max-width:767px) {
    #div_block-3-10819 {
        margin-top: 5px
    }
}

@media (max-width:767px) {
    #div_block-578-87839 {
        overflow-y: scroll
    }
}

@media (max-width:767px) {
    #div_block-585-87839 {
        overflow-y: scroll
    }
}

@media (max-width:767px) {
    #div_block-592-87839 {
        overflow-y: scroll
    }
}

@media (max-width:767px) {
    #div_block-624-88067 {
        padding-left: 0px;
        padding-right: 0px
    }
}

@media (max-width:767px) {
    #div_block-631-88067 {
        font-size: 16px;
        padding-top: 0px
    }
}

@media (max-width:767px) {
    #div_block-633-88067 {
        font-size: 18px
    }
}

@media (max-width:767px) {
    #div_block-637-88067 {
        font-size: 18px;
        font-family: 'Roboto'
    }
}

@media (max-width:767px) {
    #div_block-639-88067 {
        font-size: 18px
    }
}

@media (max-width:479px) {
    #div_block-3-10819 {
        margin-top: 0px
    }
}

@media (max-width:479px) {
    #div_block-57-10819 {
        margin-top: 9px
    }
}

@media (max-width:479px) {
    #step-1 {
        margin-top: 3px;
        height: 50px
    }
}

@media (max-width:479px) {
    #div_block-569-87839 {
        margin-top: 9px
    }
}

@media (max-width:479px) {
    #div_block-572-87839 {
        flex-direction: unset;
        display: none;
        flex-wrap: wrap
    }
}

@media (max-width:479px) {
    #div_block-573-87839 {
        width: 58%
    }
}

@media (max-width:479px) {
    #div_block-580-87839 {
        width: 39%
    }
}

@media (max-width:479px) {
    #div_block-587-87839 {
        width: 100%;
        margin-top: 10px
    }
}

@media (max-width:479px) {
    #div_block-594-87839 {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap
    }
}

@media (max-width:479px) {
    #div_block-595-87839 {
        width: 34%;
    }
}

@media (max-width:479px) {
    #div_block-597-87839 {
        width: 30%;
    }
}

@media (max-width:479px) {
    #div_block-599-87839 {
        width: 35%;
        /* margin-top:10px; */
    }
}

@media (max-width:479px) {
    #step-2-btn {
        margin-top: 3px;
        height: 50px
    }
}

@media (max-width:479px) {
    #div_block-557-87839 {
        width: 58%
    }
}

@media (max-width:479px) {
    #sr-submit {
        margin-top: 3px;
        height: 50px
    }
}

@media (max-width:479px) {
    #div_block-626-88067 {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width:479px) {
    #div_block-628-88067 {
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px
    }
}

@media (max-width:479px) {
    #div_block-631-88067 {
        font-size: 16px
    }
}

@media (max-width:479px) {
    #div_block-637-88067 {
        font-size: 16px;
        width: 100%;
        margin-top: 0px
    }
}

@media (max-width:479px) {
    #div_block-639-88067 {
        font-size: 15px
    }
}

#headline-4-10819 {
    font-family: 'Wizard World';
    font-weight: 800;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    font-size: 44px;
    max-width: 750px;
    line-height: 1.1;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2)
}

#headline-627-88067 {
    font-family: 'Wizard World';
    font-weight: 600;
    text-transform: uppercase;
    color: #d70a3f;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 45px
}

#headline-629-88067 {
    font-family: 'Wizard World';
    font-weight: 600;
    text-transform: uppercase;
    color: #00000;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px
}

#headline-630-88067 {
    font-family: 'Wizard World';
    font-weight: 600;
    text-transform: uppercase;
    color: #d70a3f;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px
}

#headline-632-88067 {
    font-family: 'Wizard World';
    font-weight: 600;
    text-transform: uppercase;
    color: #00000;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px
}

#headline-634-88067 {
    font-family: 'Wizard World';
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    font-size: 40px;
    color: #000000;
    font-weight: 600
}

#headline-638-88067 {
    font-family: 'Wizard World';
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    font-size: 30px;
    color: #000000;
    font-weight: 600
}

@media (max-width:991px) {
    #headline-4-10819 {
        font-size: 35px;
        margin-top: 5px
    }
}

@media (max-width:767px) {
    #headline-4-10819 {
        font-size: 28px
    }
}

@media (max-width:767px) {
    #headline-627-88067 {
        font-size: 35px
    }
}

@media (max-width:767px) {
    #headline-629-88067 {
        font-size: 29px
    }
}

@media (max-width:767px) {
    #headline-630-88067 {
        font-size: 29px
    }
}

@media (max-width:767px) {
    #headline-632-88067 {
        font-size: 29px
    }
}

@media (max-width:767px) {
    #headline-634-88067 {
        font-size: 29px
    }
}

@media (max-width:767px) {
    #headline-638-88067 {
        font-size: 25px;
        line-height: 1.4
    }
}

@media (max-width:479px) {
    #headline-4-10819 {
        margin-top: 5px;
        font-size: 26px
    }
}

@media (max-width:479px) {
    #headline-627-88067 {
        font-size: 30px
    }
}

@media (max-width:479px) {
    #headline-629-88067 {
        font-size: 30px;
        line-height: 1.3
    }
}

@media (max-width:479px) {
    #headline-630-88067 {
        font-size: 30px;
        line-height: 1.3
    }
}

@media (max-width:479px) {
    #headline-632-88067 {
        font-size: 30px;
        line-height: 1.3
    }
}

@media (max-width:479px) {
    #headline-634-88067 {
        font-size: 30px;
        line-height: 1.3
    }
}

@media (max-width:479px) {
    #headline-638-88067 {
        font-size: 25px;
        margin-top: 14px
    }
}

#text_block-18-10819 {
    margin-top: 20px;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Belleza';
    line-height: 1.4;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

#step-1-2-btn {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Belleza';
    font-weight: 600
}

#text_block-609-87839 {
    margin-top: 0px;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Belleza';
    line-height: 1.4;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

#text_block-604-87839 {
    color: #eab112;
    font-size: 18px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto
}

#text_block-606-87839 {
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Belleza'
}

#text_block-613-87839 {
    margin-top: 0px;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Belleza';
    line-height: 1.4;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

#text_block-566-87839 {
    font-size: 18px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    color: #d70a3f
}

#text_block-568-87839 {
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Belleza'
}

#text_block-514-31838 {
    font-weight: 400;
    color: #c50909;
    margin-top: auto
}

#text_block-519-31838 {
    margin-top: 13px;
    color: #ffffff;
    font-size: 14px
}

#text_block-620-88067 {
    margin-top: 14px;
    color: #ffffff;
    font-size: 38px;
    max-width: 600px;
    font-family: 'Open Sans Condensed';
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 3px rgba(132, 82, 249, 0.99)
}

#text_block-622-88067 {
    margin-top: 0px;
    font-size: 24px;
    font-family: 'Open Sans Condensed';
    color: #ffffff;
    font-weight: 400;
    line-height: 1.5;
    max-width: 500px;
    width: 100%;
    text-shadow: 2px 2px 3px rgba(132, 82, 249, 0.99)
}

@media (max-width:991px) {
    #text_block-18-10819 {
        font-weight: 600;
        font-size: 19px
    }
}

@media (max-width:991px) {
    #text_block-609-87839 {
        font-weight: 600;
        font-size: 19px
    }
}

@media (max-width:991px) {
    #text_block-613-87839 {
        font-weight: 600;
        font-size: 19px
    }
}

@media (max-width:767px) {
    #text_block-18-10819 {
        font-size: 16px;
        line-height: 1.4
    }
}

@media (max-width:767px) {
    #step-1-2-btn {
        font-size: 19px
    }
}

@media (max-width:767px) {
    #text_block-609-87839 {
        font-size: 16px;
        line-height: 1.4
    }
}

@media (max-width:767px) {
    #text_block-606-87839 {
        font-size: 19px
    }
}

@media (max-width:767px) {
    #text_block-613-87839 {
        font-size: 16px;
        line-height: 1.4
    }
}

@media (max-width:767px) {
    #text_block-568-87839 {
        font-size: 19px
    }
}

@media (max-width:767px) {
    #text_block-514-31838 {
        margin-top: 200px
    }
}

@media (max-width:767px) {
    #text_block-620-88067 {
        font-size: 20px
    }
}

@media (max-width:767px) {
    #text_block-622-88067 {
        font-size: 16px
    }
}

@media (max-width:479px) {
    #text_block-18-10819 {
        font-size: 16px;
        margin-top: 6px;
        font-family: 'Raleway'
    }
}

@media (max-width:479px) {
    #step-1-2-btn {
        font-size: 18px;
        font-weight: 700
    }
}

@media (max-width:479px) {
    #text_block-609-87839 {
        font-size: 16px;
        margin-top: 6px;
        font-family: 'Raleway'
    }
}

@media (max-width:479px) {
    #text_block-606-87839 {
        font-size: 18px;
        font-weight: 700
    }
}

@media (max-width:479px) {
    #text_block-613-87839 {
        font-size: 16px;
        margin-top: 6px;
        font-family: 'Raleway'
    }
}

@media (max-width:479px) {
    #text_block-568-87839 {
        font-size: 18px;
        font-weight: 700
    }
}

#link_button-645-88067 {
    background-color: #d70a3f;
    border: 1px solid #d70a3f;
    padding: 15px 24px
}

#link_button-645-88067 {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    font-family: 'Belleza';
    margin-top: 0px;
    url-encoded: true
}

@media (max-width:767px) {
    #link_button-645-88067 {}

    #link_button-645-88067 {
        font-size: 20px
    }
}

@media (max-width:479px) {
    #link_button-645-88067 {
        padding: 8px 12.8px
    }

    #link_button-645-88067 {
        font-size: 18px
    }
}

#fancy_icon-577-87839 {
    color: #7f7f7f
}

#fancy_icon-577-87839>svg {
    width: 25px;
    height: 25px
}

#fancy_icon-577-87839 {
    flex-direction: unset
}

#fancy_icon-584-87839 {
    color: #7f7f7f
}

#fancy_icon-584-87839>svg {
    width: 25px;
    height: 25px
}

#fancy_icon-591-87839 {
    color: #7f7f7f
}

#fancy_icon-591-87839>svg {
    width: 25px;
    height: 25px
}

#code_block-616-87839 {
    margin-top: 18px
}

#code_block-571-87839 {
    width: 100%;
    transition-duration: .5s
}

#code_block-575-87839 {
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto'
}

#code_block-579-87839 {
    margin-top: 0px;
    padding-top: 0px
}

#code_block-582-87839 {
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto'
}

#code_block-586-87839 {
    margin-top: 0px;
    padding-top: 0px
}

#code_block-589-87839 {
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto'
}

#code_block-593-87839 {
    margin-top: 0px;
    padding-top: 0px
}

#code_block-596-87839 {
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto'
}

#code_block-598-87839 {
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto'
}

#code_block-600-87839 {
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto'
}

#code_block-602-87839 {
    width: 100%;
    flex-direction: unset;
    display: none
}

#code_block-558-87839 {
    width: 100%;
    transition-duration: .5s;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none
}

#code_block-559-87839 {
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto'
}

#code_block-560-87839 {
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto'
}

#code_block-561-87839 {
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto'
}

#code_block-562-87839 {
    width: 100%;
    flex-direction: unset;
    display: none
}

#code_block-564-87839 {
    width: 100%
}

#code_block-539-42847 {
    flex-direction: unset;
    display: none
}

#code_block-625-88067 {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    position: relative
}

#code_block-621-88067 {
    color: #ffffff;
    font-size: 22px;
    max-width: 500px;
    margin-top: 0px;
    margin-bottom: 0px
}

#span-641-88067 {
    color: #d70a3f;
    font-weight: 500
}

#span-642-88067 {
    color: #d70a3f;
    font-weight: 500
}

#span-643-88067 {
    color: #d70a3f;
    font-weight: 500
}